<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISampleWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7584/SampleWcfService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISampleWcfService"
                contract="ScreamingFleas.SelfHealingWcfClient.ISampleWcfService" name="BasicHttpBinding_ISampleWcfService" />
        </client>
    </system.serviceModel>
</configuration>